body {
    background-color: rgb(255, 255, 223);
    color: rgb(92, 92, 92);
    font-family: "Lato";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 0;
    padding: 0;
}

.sidebar {
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.tasks-container {
    background: white;
    margin-top: 60px;
    width: 50vw;
    padding: 30px;
    border-radius: 2em;
    box-shadow: 0 0 80px 10px rgb(253, 239, 178);
}

#project-name {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent; 
    opacity: 0.5;
    font-family: "Lato";
    transition: opacity 200ms ease-in;
}

button:hover {
    opacity: 1;
}

.projects-container ul:hover{
    cursor: pointer;
    transition: opacity 200ms ease-in;
    opacity: 1;
}

.current-project  {
    font-weight: bolder;
    opacity: 1;
}

ul {
    border: 0;
    margin: 0;
    padding: 0.4em;
    opacity: 0.5;
}

ul:first-letter, td:first-letter {
    text-transform: capitalize;
}

input, select {
    background: transparent;
    border: 0;
    font-family: "Lato";
    opacity: 0.5;
}

input:focus, input:hover, select:focus, select:hover, textarea:hover {
    transition: 300ms ease-in;
    opacity: 1;
}

th {
    font-size: 0.7em;
    opacity: 0.5;
    text-align: left;
}

table {
    border-collapse: separate; 
    border-spacing: 0 1em;
    table-layout:fixed;
}

.delete {
    margin-top: 60px;
    font-size: 1em;
    margin-left: -40px;
}

i {
    opacity: 0.3;
}

td {
    overflow: auto;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    will-change: transform, opacity;
    transform: scale(1.15);
    transition:
      transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.visible {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
    transition:
      transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30rem;
    height: auto;
    border-radius: 0.5rem;
    overflow: auto;
}

.modal-data {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.edit-title {
    width: 50%;
}

.notes {
    height: 50%;
    width: 99%;
    font-family: "Lato";
    border: transparent;
    margin-bottom: 0.5em;
    opacity: 0.5;
}

.save-btn {
    padding: 0.3em;
    background-color:rgb(92, 92, 92);
    color: white;
    border-radius: 0.5em;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0.8;
}

#sort-priority:hover, #sort-duedate:hover {
    cursor: pointer;
}

.github {
    display: flex;
    font-size: 15px;
    gap: 5px;
    margin-top: auto;
    justify-content: flex-end;
    margin-right: 10px;
}

.ghlogo {
    height: 20px;
}