body {
    background-color: rgb(255, 255, 223);
    color: rgb(92, 92, 92);
    font-family: "Lato";
}

h2 {
    margin-bottom: 0;
    padding: 0;
}

.sidebar {
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.tasks-container {
    background: white;
    margin-top: 60px;
    width: 50vw;
    padding: 30px;
    border-radius: 2em;
    box-shadow: 0 0 80px 10px rgb(253, 239, 178);
}

#project-name {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent; 
    opacity: 0.5;
    font-family: "Lato";
    transition: opacity 200ms ease-in;
}

button:hover {
    opacity: 1;
}

.projects-container ul:hover{
    cursor: pointer;
    transition: opacity 200ms ease-in;
    opacity: 1;
}

.current-project  {
    font-weight: bolder;
    opacity: 1;
}

ul {
    border: 0;
    margin: 0;
    padding: 0.4em;
    opacity: 0.5;
}

ul:first-letter, td:first-letter {
    text-transform: capitalize;
}

input, select {
    background: transparent;
    border: 0;
    font-family: "Lato";
    opacity: 0.5;
}

input:focus, input:hover, select:focus, select:hover {
    transition: 300ms ease-in;
    opacity: 1;
}

th {
    font-size: 0.7em;
    opacity: 0.5;
    text-align: left;
}

table {
    border-collapse: separate; 
    border-spacing: 0 1em;
    table-layout:fixed;
}

.delete {
    margin-top: 60px;
    font-size: 1em;
    margin-left: -40px;
}

i {
    opacity: 0.3;
}